/* Navbar.css */

.main-header .header-sticky .navbar {
  background-color: #ffffff00;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.main-header .header-sticky .navbar-nav .nav-item .nav-link {
  color: #fff;
  transition: color 0.3s ease;
  font-weight: 500;
}

.main-header .header-sticky .navbar-nav .nav-item .nav-link:hover,
.main-header .header-sticky .navbar-nav .nav-item .nav-link:focus {
  color: #f7941d;
}

/* Styles for sub-menus if you have them */
.main-header .header-sticky .navbar-nav .sub-menu {
  color: #fff !important;
  background: #720e18;
}

.main-header .header-sticky .navbar-nav .sub-menu .nav-item .nav-link {
  color: #fff;
}

.nav-item.submenu:hover > .nav-link span.dropdown {
  transform: rotate(180deg);
  transition: 0.3s ease;
}
.nav-item.submenu > .nav-link span.dropdown {
  display: inline-block;
  transition: 0.3s ease;
}
